@model ShoppingCart

<!-- breadcrumb start -->
<div class="breadcrumb-section">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <div class="page-title">
                    <h2>cart</h2>
                </div>
            </div>
            <div class="col-sm-6">
                <nav aria-label="breadcrumb" class="theme-breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                        <li class="breadcrumb-item active">cart</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div>
<!-- breadcrumb End -->
<!--section start-->
<section class="cart-section section-b-space">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <table class="table cart-table table-responsive-xs">
                    <thead>
                        <tr class="table-head">
                            <th scope="col">image</th>
                            <th scope="col">product name</th>
                            <th scope="col">price</th>
                            <th scope="col">quantity</th>
                            <th scope="col">action</th>
                            <th scope="col">total</th>
                        </tr>
                    </thead>
                    @foreach (var item in Model.lstItems){
                        <tbody>
                            <tr>
                                <td>
                                    <a href="#"><img src="~/Uploads/Items/@item.ImageName" alt=""></a>
                                </td>
                                <td>
                                    <a href="#">@item.ItemName</a>
                                    <div class="mobile-cart-content row">
                                        <div class="col-xs-3">
                                            <div class="qty-box">
                                                <div class="input-group">
                                                    <input type="number" name="quantity"
                                                           class="form-control input-number" value="1">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-xs-3">
                                            <h2 class="td-color">$63.00</h2>
                                        </div>
                                        <div class="col-xs-3">
                                            <h2 class="td-color">
                                                <a href="#" class="icon"><i class="ti-close"></i></a>
                                            </h2>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <h2>$@item.ItemPrice</h2>
                                </td>
                                <td>
                                    <div class="qty-box">
                                        <div class="input-group">
                                            <input type="number" name="quantity" 
                                                class="form-control input-number"
                                                data-price="@item.ItemPrice" data-id="@item.ItemId"
                                                value="@item.ItemQty" onkeyup="changeQty(this)">
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <a href="#" class="icon"><i class="ti-close"></i></a>
                                </td>
                                <td>
                                    <h2 data-id="@item.ItemId" class="td-color total">$@item.Total</h2>
                                </td>
                            </tr>
                        </tbody>
                    }
                </table>
                <table class="table cart-table table-responsive-md">
                    <tfoot>
                        <tr>
                            <td>total price :</td>
                            <td>
                                <h2 id="OverAllTotal">$6935.00</h2>
                            </td>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
        <div class="row cart-buttons">
            <div class="col-6"><a href="#" class="btn btn-solid">continue shopping</a></div>
            <div class="col-6"><a href="/Users/Login" class="btn btn-solid">check out</a></div>
        </div>
    </div>
</section>
<!--section end-->
@section scripts {
    <!-- Cart change quantity-->
    <script>
        function changeQty(input) {
            // get input id, price, quantity
            let id = $(input).data("id");
            let price = $(input).data("price");
            let qty = $(input).val();
            let overAllTotal = 0;

            // get total h2.total elemtn in tha same raw, input and h2 have the same id
            // loop on all h2.total elemtns and check the elemtn id === input id.
            $("h2.total").each(function (i) {
                // same item, same raw
                if ($(this).data("id") === id) {
                    // update .total elemnt text value.
                    $(this).text(`$${(price * qty).toFixed(2)} `);
                }
                // in each .total current elemnt, add to overAllTotal
                // slice(1) => remove first char currency ($)
                let currentElementTotal = parseFloat($(this).text().slice(1));
                overAllTotal += currentElementTotal;
            });

            // add currency ($) char, update over All Total element
            $("#OverAllTotal").text(`$${overAllTotal.toFixed(2)}`);

            // to be continued... AjRequest
        }
    </script>
}