@model TbCategory


<div class="content-wrapper">
    <div class="page-header">
        <h3 class="page-title"> Form elements </h3>
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#">Forms</a></li>
                <li class="breadcrumb-item active" aria-current="page">Form elements</li>
            </ol>
        </nav>
    </div>
    <div class="row">
        <div class="col-md-8 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Default form</h4>
                    <p class="card-description"> Basic form layout </p>
                    <form class="forms-sample" method="post" enctype="multipart/form-data"
                          asp-controller="Categories" asp-action="Save" role="form">
                        <input asp-for="CategoryId" type="hidden" />
                        <input asp-for="CreatedBy" type="hidden" />
                        <input asp-for="CreatedDate" type="hidden" />
                        <input asp-for="ImageName" type="hidden" />
                        <div class="form-group">
                            <label for="exampleInputUsername1">@ResAdmin.lblCategoryName</label>
                            <input asp-for="CategoryName" type="text" class="form-control" placeholder="Category Name">
                            <span asp-validation-for="CategoryName"></span>
                        </div>

                        <div class="form-group">
                            <label for="exampleInputUsername1">@ResAdmin.lblShowHomePage</label>
                            <input asp-for="ShowInHomePage" type="checkbox" checked="@Model.ShowInHomePage" />
                        </div>

                        <div class="form-group">
                            <label for="exampleInputUsername1">
                                @ResAdmin.lblImage
                            </label>
                            <input asp-for="ImageName" type="file" name="Files"
                                   class="form-control" placeholder="@ResAdmin.lblImage"
                                   onchange="Upload.UploadDefaultImg(event)" accept=".jpg, .jpeg, .png, ,.gif">

                        </div>

                        <button type="submit" formmethod="post" class="btn btn-gradient-primary me-2">@ResGeneral.lblSave</button>
                        <button class="btn btn-light">@ResGeneral.lblNew</button>
                    </form>
                </div>
            </div>
        </div>

        <div class="col-md-4 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <span id="tbImgName"></span>
                    <div id="tbImgSrc">
                        <img src="/Uploads/Categories/@Model.ImageName" style="width:200px;" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts
{
    <script>
        var Upload = {
            UploadDefaultImg: function (e) {
                const file = e.target.files[0];
                const reader = new FileReader();
                reader.onloadend = () => {
                    CourseMediaImgName = file.name;
                    CourseMediaImgBase64 = reader.result.slice(reader.result.indexOf('base64,') + 7);
                    $("#tbImgName").html(file.name)
                    $("#tbImgSrc").html(`<img class="thumbnail" src = "${reader.result}"  style = "width: 200px;height: 300px;border-radius: 5px;border: 1px solid #d9d9d9;padding: 1px;" />`)
                };
                reader.readAsDataURL(file);
            }
        }
    </script>
}
